@media (min-width: 1200px) {
     .container {
          max-width: 1338px;
     }
}

@media (max-width: 1400px) {
     .timeline {
          grid-gap: 89px;
     }
}

@media (max-width: 1365px) {
     .timeline {
          grid-gap: 44px;
     }
}

@media (max-width: 1199px) {
     .about-sec .image-holder {
          max-width: 493px;
     }

     .about-sec {
          padding-bottom: 160px;
     }

     .coin-box {
          z-index: -1;
     }

     .token-sec {
          padding: 60px 0px;
     }

     .media {
          padding-top: 100px;
     }
}

@media (max-width: 991px) {
     .text-box h1 {
          font-size: 54px;
     }

     header .img-holder {
          display: block;
     }

     .cross-icon {
          margin-bottom: 50px;
          position: absolute;
          right: 16px;
          top: 49px;
     }

     header .navbar .navbar-nav .nav-link {
          margin-bottom: 30px;
     }

     .navbar-nav .img-holder {
          position: absolute;
          bottom: -100px;
     }

     .navbar-collapse.show {
          transition: all 0.5s ease-in-out;
          right: 0;
     }

     .navbar-collapse {
          position: fixed;
          top: 0;
          right: -100%;
          text-align: center;
          overflow-x: hidden;
          width: 100%;
          height: 100vh !important;
          padding: 160px 15px 0px;
          transition: all 0.5s ease-in-out;
          overflow-y: scroll;
          z-index: 9999;
          background: #161616;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
     }

     .navbar-expand-lg .navbar-collapse {
          justify-content: space-between;
     }

     .accordion-btn {
          width: 50px;
          height: 50px;
     }

     footer .newsletter {
          margin: 20px auto 0;
     }

     footer .navbar-brand {
          justify-content: center;
     }

     .footer-list {
          justify-content: center;
     }

     .faq-sec {
          padding: 0px 0 80px;
     }

     .text-box h6 {
          font-size: 20px;
     }

     .about-sec .image-holder {
          position: relative;
          max-width: 100%;
     }

     .crypto-logo {
          top: -37px;
          right: 0px;
     }

     .about-sec {
          padding-bottom: 100px;
     }

     .text-box h2 {
          font-size: 36px;
     }

     .token-sec .text-box {
          margin: 0px auto;
     }

     .swiper-button-next, .swiper-button-prev {
          display: none;
     }

     .train-img {
          display: none;
     }

     .timeline.timeline-2 {
          display: none;
     }

     .token-sec .text-box p {
          margin: 24px auto 42px;
     }

     .text-box h6 {
          font-size: 18px;
          line-height: 19px;
          letter-spacing: 2.2px;
     }

     .boxes {
          margin: 20px auto 0;
     }

     .timeline {
          display: block;
     }

     .roadmap {
          margin-top: 45px;
          background-image: url(../images/train-mobile.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
     }

     .line-box {
          display: block;
     }

     .roadmap .btn-default {
          margin-top: 63px;
     }

     .timeline-content {
          margin: 30px auto 0;
          max-width: 345px;
          background: rgba(25, 25, 25, 0.84);
          backdrop-filter: blur(4.650000095367432px);
     }

     .roadmap-inner .text-box h2 {
          max-width: 546px;
          margin: 0 auto;
     }

     .roadmap-inner .text-box p {
          margin: 24px auto 0;
     }
}

@media (max-width:767px) {
     .text-box h1 {
          font-size: 42px;
     }

     header .img-holder {
          width: 375px;
          margin: 0 auto;
     }

     .img-row {
          grid-gap: 9px;
          margin-top: 9px;
     }

     .crypto-logo {
          display: none;
     }

     .faq-sec .coin-box {
          left: auto;
          bottom: -219px;
          top: auto;
          right: 0;
          z-index: 1;
     }

     .token-sec .coin-box {
          display: none;
     }

     .roadmap-sec .coin-box {
          display: none;
     }

     .roadmap-sec {
          padding-bottom: 95px;
     }

     .hero-sec .text-box h6 {
          margin: 0 auto 52px;
     }

     .about-sec .text-box h6 {
          margin: 15px 0px 44px;
     }

     .about-sec .btn-learn {
          margin-top: 48px;
     }

     .about-sec {
          padding-bottom: 80px;
     }

     .card-space {
          margin-top: 0px;
     }

     .boxes .box {
          margin-bottom: 15px;
          padding: 21px;
          border-radius: 30px;
          background: #161616;
     }

     .boxes {
          display: block;
          margin: 42px auto 0;
     }

     .accordion-box .text-box h6 span {
          margin-right: 12px;
     }

     .accordion-box .text-box h6 {
          font-size: 15px;
          letter-spacing: -1px;
          max-width: 257px;
     }

     .accordion-inner p {
          font-size: 12px;
          display: none;
     }

     .faq-show .accordion-inner p {
          display: block;
     }


     .text-box h2 {
          font-size: 33px;
     }

     .accordion-inner {
          margin-top: 12px;
          margin-left: 32px;
     }

     .accordion-btn {
          width: 36px;
          height: 36px;
          position: absolute;
          right: 0;
          top: 22px;
     }

     .top-heading .text-box {
          margin-bottom: 50px;
     }

     .adventure-sec {
          padding: 72px 0px;
     }

     .community-box {
          margin-bottom: 42px;
     }

     .number-box .text-box h6 {
          font-size: 21px;
          margin-bottom: 16px;
     }

     .number-box h1 {
          font-size: 174px;
          line-height: 168px;
     }

     .number-box .text-box {
          max-width: 287px;
     }

     .number-box {
          justify-content: center;
          margin-top: 0px;
     }

     .number-boxes {
          margin: 0 auto 42px;
     }

     footer .navbar-brand {
          display: block;
          margin: 0;
          padding: 0;
     }

     footer .newsletter {
          margin: 30px auto 0;
     }

     .bottom-footer ul li a {
          margin-bottom: 30px;
          display: block;
     }

     .bottom-footer p {
          text-align: center;
          border-top: 1px solid rgba(255, 255, 255, 0.06);
          padding-top: 24px;
     }

     footer {
          padding-top: 72px;
     }

     header .navbar {
          padding: 42px 0px 0px;
     }

     .hero-sec .text-box h1 br {
          display: none;
     }

     .bottom-footer ul {
          display: block;
          text-align: center;
     }

     .media {
          padding-top: 72px;
     }

     footer .navbar-brand img {
          margin-right: 0px;
          margin-bottom: 12px;
     }

     .footer-list li a {
          margin-bottom: 30px;
          display: block;
     }

     .footer-list {
          display: block;
          margin-top: 60px;
     }

     .number-box .text-box p {
          font-size: 12px;
     }

     .adventure-sec .img-holder img {
          position: absolute;
          left: 0;
          margin-left: 0;
          bottom: -80px;
          left: -57px;
     }

     .faq-card {
          position: relative;
          padding: 24px 0px 12px;
     }

     .about-sec .image-holder {
          margin-bottom: 44px;
     }

     .about-sec .text-box {
          text-align: center;
          margin: 0 auto;
     }

     .hero-sec {
          padding: 139px 0px 80px;
     }

     .text-box h6 {
          font-size: 18px;
          line-height: 19px;
          letter-spacing: normal;
     }

     .hero-sec .text-box h1 {
          margin: 21px auto;
     }
}

@media (max-width:575px) {
     .container {
          padding: 0px 15px;
     }

     .hero-sec .text-box h1 {
          padding: 0px 20px;
     }

     .hero-sec ul li:last-child {
          margin-top: 18px;
     }

     .number-box h1 {
          margin-right: -44px;
     }

     .about-sec .coin-box {
          top: auto;
          bottom: -194px;
     }

     footer .newsletter p {
          font-size: 12px;
          text-align: center;
     }

     footer .newsletter {
          text-align: center;
     }

     .number-box.number-box2 h1 {
          margin-left: -44px;
          margin-right: 0;
     }

     .btn-learn {
          width: 100%;
          padding: 30px 51px;
     }

     .btn-default {
          width: 100%;
          padding: 30px 51px;
     }

     .hero-sec ul {
          display: block;
     }
}