@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kumbh+Sans&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(bootstrap.min.css);
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

body {
    font-family: 'League Spartan', sans-serif;
    background-color: #161616;
}

a.active,
a:focus,
button:focus,
button.active {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus,
a:hover,
a:active {
    outline: 0;
    box-shadow: none;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

img {
    border-style: none;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #C6C6C6;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.navbar-brand img {
    margin-right: 12px;
    border-radius: 50%;
    box-shadow: 0px 3px 24.1px 0px rgba(255, 255, 255, 0.00), -1px 12px 29.5px 0px rgba(255, 255, 255, 0.13), -1px 28px 52.2px 0px rgba(255, 255, 255, 0.08), -2px 49px 65.7px 0px rgba(255, 255, 255, 0.02), -4px 77px 22px 0px rgba(255, 255, 255, 0.00);
}

header .navbar .navbar-nav .nav-link:hover {
    color: #fff;
}

header .navbar .navbar-nav .nav-link {
    color: #C6C6C6;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    padding: 0px;
    margin: 0px 15px;
}

header .navbar {
    padding: 50px 0px 0px;
    position: absolute;
    width: 100%;
    left: 0;
}

.hero-sec .text-box h1 {
    max-width: 1145px;
    margin: 33px auto;
}

.text-box h6 {
    color: #8A8A86;
    font-size: 21px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 2.7px;
}

.hero-sec ul {
    display: flex;
    justify-content: center;
    grid-gap: 18px;
}

.hero-sec .text-box h6 {
    max-width: 580px;
    margin: 0 auto 45px;
}

.btn-default:hover {
    background-color: transparent;
    color: #FFFCFB;
    border: 1px solid #FFFCFB;
}

.btn-default {
    border-radius: 200px;
    border: 1px solid #111012;
    background: #FFFCFB;
    color: #111012;
    font-size: 15px;
    font-weight: 800;
    line-height: 120%;
    padding: 31px 51px;
    font-family: 'Archivo', sans-serif;
}

.btn-learn img {
    margin-left: 13px;
}

.hero-sec {
    padding: 184px 0px 170px;
    background-image: url(../images/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btn-learn:hover img {
    filter: brightness(0);
}

.inner-box {
    position: absolute;
    left: 0;
    z-index: -1;
    bottom: 0;
}

.btn-learn:hover {
    background-color: #FFF;
}

.btn-learn {
    border-radius: 200px;
    border: 1px solid #FFF;
    color: #FFF;
    font-family: 'Archivo', sans-serif;
    font-size: 15px;
    font-weight: 800;
    line-height: 120%;
    padding: 31px 36px;
}

.text-box h1 {
    color: #C6C6C6;
    font-size: 72px;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -1px;
}

.hero-sec .img-holder img {
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(255, 255, 255, 0.08), -1px 10px 10px 0px rgba(255, 255, 255, 0.07), -1px 23px 14px 0px rgba(255, 255, 255, 0.04), -2px 40px 16px 0px rgba(255, 255, 255, 0.01), -4px 63px 18px 0px rgba(255, 255, 255, 0.00);
}

.text-box h2 {
    color: #C6C6C6;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
}


.text-box p {
    color: #8A8A86;
    font-size: 15px;
    font-weight: 200;
    line-height: 150%;
    letter-spacing: 1.6px;
}

.about-sec {
    position: relative;
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 260px;
}

.about-sec .text-box {
    max-width: 516px;
    margin-left: auto;
    margin-right: 15px;
}

.token-sec .text-box p {
    margin: 24px 0px 69px;
    max-width: 416px;
}

.token-sec .text-box {
    max-width: 516px;
    margin-left: auto;
    margin-right: 15px;

}

.token-sec {
    position: relative;
    background-image: url(../images/token-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px;
}

.about-sec .btn-learn {
    margin-top: 63px;
}

.about-sec .text-box h6 {
    margin: 24px 0px;
}

.about-sec .image-holder {
    position: absolute;
    right: 0;
}

.img-row {
    display: flex;
    align-items: center;
    grid-gap: 15px;
    margin-top: 15px;
}

.coin-box {
    position: absolute;
    left: 0;
    top: 22%;
    transform: translate(0, -50%);
}

.boxes {
    display: flex;
    grid-gap: 30px;
}

.boxes .box .text-box h6 {
    color: #C6C6C6;
    font-weight: 700;
    letter-spacing: normal;
    margin-top: 19px;
}

.boxes {
    max-width: 546px;
}

.boxes .box {
    margin-bottom: 42px;
}

.boxes .box .text-box p {
    margin: 12px 0px 0px;
}

.boxes .box .img-holder {
    width: 69px;
    height: 72px;
    padding: 24px 22px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(255, 255, 255, 0.08), -1px 10px 10px 0px rgba(255, 255, 255, 0.00), -1px 23px 14px 0px rgba(255, 255, 255, 0.04);
}

.card-space {
    margin-top: 110px;
}

.token-sec .coin-box {
    bottom: -68px;
    top: auto;
    transform: translate(0, 0);
}

.accordion-box .text-box h6 {
    display: flex;
    color: #C6C6C6;
    font-weight: 600;
    align-items: center;
    letter-spacing: 1.1px;
}

.accordion-box {
    max-width: 1113px;
    margin: 0 auto;
}

.accordion-box .text-box h6 span {
    color: #3C3C3B;
    font-size: 24px;
    font-weight: 700;
    margin-right: 66px;
}

.accordion-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-card {
    border-bottom: 1px solid rgba(198, 198, 198, 0.10);
    padding: 24px 0px;
}

.accordion-inner p {
    flex: 1;
    max-width: 387px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    transition: all 0.5s ease;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    letter-spacing: 1.1px;
}

.accordion-btn {
    border: 1.5px solid rgba(198, 198, 198, 0.10);
    width: 76px;
    border-radius: 50%;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.faq-show .hide {
    display: block;
}

.faq-sec {
    position: relative;
    padding: 0 0 180px;
}

.faq-sec .shadow-img {
    width: 510px;
    height: 510px;
    border-radius: 510px;
    background: rgba(255, 255, 255, 0.43);
    filter: blur(699.5px);
}

.faq-show .row {
    align-items: start !important;
}

.faq-show .accordion-inner {
    align-items: start;
}

.faq-show .block {
    display: none;
}

.faq-show .accordion-btn {
    background-color: #C6C6C6;
    border: 1px solid #C6C6C6;
}

.faq-show .accordion-inner p {
    color: #C6C6C6;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    transition: all 0.5s ease;
}

.top-heading .text-box {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    justify-content: space-between;
}

.btn-view img {
    margin-left: 12px;
}

.btn-view {
    color: #FFF;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 90%;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
}

.community-box {
    max-width: 676px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.adventure-sec .img-holder img {
    border-radius: 50%;
    margin-left: 76px;
    box-shadow: 0px 3px 6px 0px rgba(255, 255, 255, 0.08), -1px 10px 10px 0px rgba(255, 255, 255, 0.07), -1px 23px 14px 0px rgba(255, 255, 255, 0.04), -2px 40px 16px 0px rgba(255, 255, 255, 0.01), -4px 63px 18px 0px rgba(255, 255, 255, 0.00);
}

.crypto-logo {
    position: absolute;
    top: -121px;
    right: -104px;
}

.adventure-sec {
    padding: 109px 0px;
    background-image: url(../images/buy-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.community-box h2 {
    margin-bottom: 24px;
}

.text-box h4 {
    color: #8A8A86;
    font-size: 18px;
    font-weight: 800;
    line-height: 150%;
}

.number-box .text-box h6 {
    color: #C6C6C6;
    font-weight: 800;
    margin-bottom: 16px;
}

.number-box .text-box p {
    font-weight: 300;
    font-family: 'Archivo', sans-serif;
    line-height: 16px;
    letter-spacing: normal;
}

.number-box h1 {
    background: linear-gradient(167deg, rgba(198, 198, 198, 0.10) -22.95%, rgba(198, 198, 198, 0.00) 108.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Archivo', sans-serif;
    font-size: 190px;
    font-weight: 800;
    margin-right: 7px;
    line-height: normal;
}

.number-box {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.number-boxes {
    max-width: 1110px;
    margin: 0 auto 72px;
}

.footer-list li a {
    color: #C6C6C6;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
}

.footer-list {
    display: flex;
    align-content: center;
    grid-gap: 32px;
    margin-top: 32px;
}

footer .form-control::placeholder {
    color: #505050;
}

footer .newsletter p a {
    text-decoration-line: underline;
    font-weight: 600;
    color: #C6C6C6;
}

footer .newsletter p {
    font-weight: 400;
    margin-top: 12px;
}

footer .newsletter {
    max-width: 400px;
    margin-left: auto;
}

footer .text-box h6 {
    font-weight: 600;
    color: #fff;
    margin-bottom: 24px;
}

footer .form-control {
    border-radius: 100px;
    border: 1px solid #FFF;
    background: #FFF;
    color: #505050;
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
    height: 53px;
    padding: 0px 140px 0px 20px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-radius: 1000px;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-radius: 1000px;
}

.btn-subscribe {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 150%;
    border-radius: 1000px;
    position: absolute !important;
    top: 3px;
    bottom: 3px;
    right: 3px;
    border: 1px solid #1D1D1D;
    background: #1D1D1D;
    padding: 13px 24px 11px;
}

.bottom-footer p {
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    text-align: end;
}

footer {
    background-image: url(../images/bg_footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    background-color: #161616;
}

.bottom-footer p span {
    font-weight: 700;
}

.bottom-footer ul {
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

.bottom-footer ul li a {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
}

.bottom-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    margin-top: 64px;
    padding: 32px 0px;
}

.roadmap-inner .text-box p {
    max-width: 507px;
}



.timeline {
    display: flex;
    grid-gap: 100px;
}

.timeline-content {
    border-radius: 15px;
    background: #191919;
    padding: 21px;
    text-align: center;
    max-width: 242px;
}

.timeline-2 {
    justify-content: end;
    margin-top: 202px;
}

.timeline-content.text-box p {
    letter-spacing: normal;
    line-height: 14px;
}

.timeline-content.text-box h4 {
    font-weight: 700;
    color: #C6C6C6;
    margin-bottom: 24px;
}

.train-img img {
    width: 100%;
}

.roadmap {
    margin-top: 133px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    content: none;
}

.swiper-button-next {
    top: 16%;
}

.faq-sec .coin-box {
    left: 0;
    bottom: -192px;
    top: auto;
}

.roadmap-sec .coin-box {
    left: auto;
    right: 0;
    bottom: -60px;
    top: auto;
}

.roadmap-sec {
    padding-bottom: 180px;
    position: relative;
}

header .img-holder {
    display: none;
}

.media {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
}

.swiper-button-prev {
    bottom: 11%;
    top: auto;
    opacity: 1 !important;
}

.swiper-button-next, .swiper-button-prev {
    border: 1.5px solid rgba(198, 198, 198, 0.10);
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.train-img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border: none;
}

.input-group .btn {
    z-index: 3;
}

.roadmap {
    position: relative;
}

.line-box .line {
    background-color: rgba(255, 255, 255, 0.51);
    height: 27px;
    width: 1px;
    margin: 9px auto;
}

.line-box {
    text-align: center;
    display: none;
}

.nav-train {
    margin-bottom: -265px;
    position: relative;
    -webkit-animation: voyage 4s linear 1;
    animation: voyage 4s linear 1;
}

@-webkit-keyframes voyage {
    0% {
        right: -700px;
    }

    100% {
        right: 100%;
    }
}

@keyframes voyage {
    0% {
        right: -700px;
    }

    100% {
        right: 100%;
    }
}

.train-hide {
    display: none;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.nav-train {
    width: 308px;
}